In [59]:
#Reading libraries
import pandas as pd
import numpy as np

In [60]:
#loadind the dataset
data=pd.read_csv("../data/raw/crypto_data.csv")
data.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,1677283200000,23184.04,23219.13,22722.00,23157.07,191311.81010,1677369599999,4.406286e+09,9124568,94440.13964,2.175284e+09,0
1,1677369600000,23157.07,23689.99,23059.18,23554.85,202323.73623,1677455999999,4.716158e+09,9506015,101003.39278,2.354572e+09,0
2,1677456000000,23554.85,23897.99,23106.77,23492.09,283706.08590,1677542399999,6.659786e+09,11754195,141360.04845,3.318354e+09,0
3,1677542400000,23492.09,23600.00,23020.97,23141.57,264140.99894,1677628799999,6.172931e+09,9568743,131200.82704,3.066250e+09,0
4,1677628800000,23141.57,24000.00,23020.03,23628.97,315287.41737,1677715199999,7.441571e+09,9390487,157961.92667,3.728257e+09,0

In [61]:
#Checking for missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   int64
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   int64
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: float64(8), int64(4)
memory usage: 93.9 KB

In [62]:
data["open_time"] = pd.to_datetime(data["open_time"], unit='ms')
data["close_time"] = pd.to_datetime(data["close_time"], unit='ms')
data["close"] = data["close"].astype(float)
data.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,2023-02-25,23184.04,23219.13,22722.00,23157.07,191311.81010,2023-02-25 23:59:59.999,4.406286e+09,9124568,94440.13964,2.175284e+09,0
1,2023-02-26,23157.07,23689.99,23059.18,23554.85,202323.73623,2023-02-26 23:59:59.999,4.716158e+09,9506015,101003.39278,2.354572e+09,0
2,2023-02-27,23554.85,23897.99,23106.77,23492.09,283706.08590,2023-02-27 23:59:59.999,6.659786e+09,11754195,141360.04845,3.318354e+09,0
3,2023-02-28,23492.09,23600.00,23020.97,23141.57,264140.99894,2023-02-28 23:59:59.999,6.172931e+09,9568743,131200.82704,3.066250e+09,0
4,2023-03-01,23141.57,24000.00,23020.03,23628.97,315287.41737,2023-03-01 23:59:59.999,7.441571e+09,9390487,157961.92667,3.728257e+09,0

In [63]:
data.drop('ignore', axis=1, inplace=True)

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   datetime64[ns]
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   datetime64[ns]
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
dtypes: datetime64[ns](2), float64(8), int64(1)
memory usage: 86.1 KB

In [65]:
data.to_csv('C:\\Users\\BRENDA MUTAI\\Documents\\crypto-classifier\\data\\processed\\crypto_data.csv', index=False)